@model FYP.Models.DisplayAnnouncement
@{
    ViewBag.Title = "Family Clinic";
}

<style>

    img {
        /*border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;*/
        max-width: 100%;
        height: auto;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
@using (Html.BeginForm("Display_Announcement", "Announce"))
{
<div class="container">
    <div class="page-header">
        <fieldset>
            <h1>Announcement</h1>
        </fieldset>
    </div>


    @if (Model == null)
    {

    }
    else if (Model.Announcesdata == null)
    {

    }
    else
    {
        foreach (var item in Model.Announcesdata)
        {
            <div class="form-group text-center">
                <h1 class="control-label text-center font-weight-bolder" width=700 height=500>@item.Title</h1>

                <br />

                <label class="control-label text-center" width=700; height=500;>
                    @item.Content
                </label>
                <br />

                @if (item.Path == "N/A")
                {

                }
                else if (item.Path != null)
                {
                    <img src="@Url.Content(item.Path)" alt="Image" width=700 height=500 class="center" />
                }
                <hr />
            </div>

        }


    }
    <br />

</div>
}